@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap");

body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50 px;
}

.postcard-header h1 {
	width: 90%;
	margin: 10px;
	font-family: "Shadows Into Light", cursive;
	font-size: 40px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 8px;
}

input {
	border: none;
	border-bottom: 1px grey solid;
	font-family: "Montserrat", sans-serif;
}

p {
	font-size: 14px;
	text-align: justify;
	font-family: "Montserrat", sans-serif;
}

.postcard-footer {
	text-align: center;
}
button {
	background-color: lightgrey;
	padding: 8px;
	font-family: "Shadows Into Light", cursive;
	font-size: 18px;
}
